{{ define "main" }}
    <article>
        {{ partial "image.html" . }}<br>
        <small>{{ .ReadingTime }} min read</small>
        <h1>{{ .Title }}</h1>
        <time>{{ .Date.Format "January 2, 2006" }}</time>
        <p>{{ .Content }}</p>
        {{ partial "categories" . }}
        <br>
        {{ partial "tags" . }}
    </article>
</main>
{{ template "_internal/disqus.html" . }}
{{ if .Site.Params.commentoUrl }}
<script defer src="{{ .Site.Params.commentoUrl }}"></script>
<div id="commento"></div>
{{ end }}
{{ end }}